/* Week 8 Examples:  */
/* Scale transform example */
h2 {
    transform: skew(15deg, 4deg);
}

.ad-ad2 h1:hover span {
    color: #484848;
    transform: rotate(10deg) translateX(40px) scale(1.5);
}

h1:hover span {
    color: #484848;
    transform: translateX(40px) scale(1.5);
    position: inline-block;

}





/* Week 12 Examples  */
.myCanvas {
    border: dotted 2px black;
}
#demo2 {
    border: solid 2px black;
}