/* Week 8 Examples:  */
/* Scale transform example */
h2 {
    transition-property: transform, color; 
    transition-duration: 0.2s, 0.1s;  
    transition-timing-function: ease-out, linear;
    transition-delay: 50ms;

}

.ad-ad2 h1:hover span {
    color: #484848;
    transform: rotate(10deg) translateX(40px) scale(1.5);
}


h1:hover span {
    color: #484848;
    transform: translateX(40px) scale(1.5);
    position: inline-block;

}





/* Week 12 Examples  */
.myCanvas {
    border: dotted 2px black;
}
#demo2 {
    border: solid 2px black;
}

#canvas2 {
    border: dotted 2px black;
}

#canvas3 {
    border: dotted 2px black;
}